.root {
  width: 100%;
  min-width: 1440px;
  position: relative;
  background: #f7f7f8;
  padding-top: 72px;
  z-index: 10;
}

.wrapper {
  width: 100%;
  position: relative;
  padding-left: 320px;
}

.contents {
  width: 100%;
  padding: 48px;
}
