.wrapper {
  padding: 120px 32px 80px;
  background: #1b1c1e;
}

.footerTitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 142.9%;
  letter-spacing: 0.0145em;
  color: #f7f7f7;
}

.address {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 133.4%;
  letter-spacing: 0.025em;
  color: #f7f7f7;
  opacity: 0.6;
  font-style: normal;
}
